*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
section{
  margin: 30px 0 30px 0;
}
header{
  background-color: #f8f8f8;
  color: gray;
  border: 1px lightgray solid;
  width: 100%;
}
header a{
  color: gray;
}
header a:hover{
  color: black;
  text-decoration: none;
}
header h4{
  padding-top: 5px;
}
.image1, .image2, .image3, .image4{
  background-position: center;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.image1{
  background-image: url('/../image/image1.jpg');
  min-height: 100vh;
}
.image1 a{
  color: white;
  padding: 0 15px 0 15px;
}
.image2{
  background-image: url('/../image/image2.jpg');
  min-height: 20vh;
}
.image3{
  background-image: url('/../image/image3.jpg');
  min-height: 20vh;
}
.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}
.main-heading{
  position: absolute;
  animation-name: slideIn;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.main-heading h1{
  font-size: 80px;
  font-weight: 900;
}
.content-heading h1{
  font-size: 50px;
  font-weight: 900;
}
#down-arrow{
  margin: 0;
  position: absolute;
  top: 80%;
  font-size: 40px;
  left: 48%;
  animation-name: upDown;
  animation-iteration-count: infinite;
  animation-duration: 800ms;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
#about{
  text-align: center;
}
#about h1{
  transform: rotate(-90deg);
  font-size: 120px;
  font-weight: 700;
  background: url('/../image/image7.jpg') 50% 50%;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.person{
  background-image: url('/../image/image8.jpg');
}
.animation-text a{
  color: black;
  padding: 15px;
  border: 1px solid gray;
  transition: ease-in-out 500ms;
}
.animation-text a:hover{
  color: white;
  text-decoration: none;
  background-color: black;
}
.top-center{
  padding: 22vh 0 22vh 0;
  font-size: 25px;
}
.image{
  background-position: center;
  background-size: cover;
  text-align: center;
}
.conversation{
  background-image: url('/../image/conversation.jpg');
  height: 50vh;
}
.time{
  background-image: url('/../image/time.jpg');
  height: 50vh;
}
.calculator{
  background-image: url('/../image/calculator.jpg');
  height: 50vh;
}
.br-d{
  border-radius: 0 0 5px 5px;
}
.person-media{
  letter-spacing: 5px;
}
.image4{
  background-image: url('/../image/image4.jpg');
}
@keyframes upDown {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 20px;
  }

}
@keyframes slideIn {
  0%   {top: 50%; left: 70%; letter-spacing: 5px;}
  50%  {top: 50%; left: 40%; letter-spacing: 2px;}
  100% {top: 50%; left: 50%; letter-spacing: 0px;}
}
